# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@localhost:5432/db_name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="replace-this-with-a-random-production-secret"
